<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond $1 !^(index\.php|templates|images|js|css|swf|uploads|user_guide|examples|_mockup|patch|fanpage|robots\.txt|crossdomain\.xml)

RewriteCond %{REQUEST_URI} ^system.*
RewriteRule ^(.*)$ /index.php/$1 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

</IfModule>