.allproduct{
    padding: 15px 5px;
}
.select-type{
        width: 1000px;
    margin: 0px 115px;
    margin-top: 80px;   
}
.btn-all-store{
    border: none;
    background-color: #fff;
}
.btn-all-store:focus{outline: none;}
    .allproduct table{text-align: center;width: 100%;background-color: #fff;border: none;}
}
tbody{color: #777;}
.allproduct tr th{
   text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background: #fff;
    font-size: 16px;
        border-bottom: 1px solid rgba(51, 51, 51, 0.07);
        border-right: none;
        border-left: none;
        color: #898989;
}

.allproduct table tr td{
    font: 14px Helvetica;
    height: 50px;
    border: 1px solid;
        border-color: transparent;
    border-radius: 3px;
    padding: 5px 5px;
}

.icon{float: right;font-size: 12px;}
.icon-top{ position: relative;}
.icon-bottom{position: relative;}
.icon-top a{color: #777;}
.icon-bottom a{color: #777;}

.paging a{
    display: inline-block;
    color: #000;
    border: 1px solid #ececec;
    width: 50px;
    text-align: center;
        background-color: #fff;
        padding: 5px 5px; 
}
.paging a:hover{
    color: #18bc9c;
    text-decoration: none;
}

strong{
    display: inline-block;
    color: #000;
    border: 1px solid #ececec;
    width: 50px;
    text-align: center;
        background-color: #fff;
        padding: 5px 5px; 
}

