.order-content{background-color: #fff;}
.ty{ margin: 10px 10px; color: #898989;}
.ct{ margin: 10px 10px; color: #898989;}
.sm{margin: 10px 0px;color:#898989;}
.content-order-show img{  border: 1px solid #ddd;color: #777;}
.order-show{ border-radius: 3px;list-style: none;background: #fff;font-size: 14px;height: 37px;}
.count-order{ }
.h{padding:10px 30px;font-size: 14px;cursor: pointer; margin: 0;}
.order-total{ float: right;border: 1px solid #ddd ;    margin: 0px 1px;}
.order-total:hover{ border: 1px solid #ddd ;color: blue;}
.order-detail-li-btn{border-bottom: 1px solid #ececec; border-radius: 4px;}
.order-detail-btn{margin: 10px 51px;height: 35px;font-size: 14px ;color: #000;border: 1px solid #ddd;color: #777;background-color: #fff;}
.order-detail-btn:hover{color: #000;background-color: #eee;}
.order-detail-ul{    display: none; float: right; list-style: none; width: 196px;padding: 0;background-color: #fff;}
.order-detail-li{color: #777;padding: 10px}
.order-detail-li:hover{color: #000;}
.order-total:hover .order-detail-ul{ display: block; }
form input.error {border:1px solid red;}
form .error {color: #ff0000;} 
.save{width: 100%;margin: 10px 0px;}
.select-ty{ border:none; ;color: #000;padding: 5px;    background-color: #fff;   margin: 5px 0px;}
.select-ty:focus{outline: none;}
.select-sm{border: none;padding: 5px;color: #000;   background-color: #fff; margin: 5px 0px;}
.select-sm:focus{outline: none;}
.select-sm-show{    border: none;background-color: #fff; padding: 0;}
.select-sm-show:focus{outline: none;}
